<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Grader</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.joachimvu.Grader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Grader</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.0b</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0b</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/joachimvu/Grader/master/Grader.glyphsFilter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/joachimvu/Grader</string>
	<key>productReleaseNotes</key>
	<string>First release</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Joachim Vu, 2020</string>
	<key>NSPrincipalClass</key>
	<string>Grader</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
